:root{
    --BG: #004643;
    --HeadLine: #fffffe;
    --Paragraph: #abd1c6;
    --Button: #f9bc60;
    --Buttontxt: #001e1d;
}
body{
    margin-top: 10px;
    background-color: var(--BG);
}
h1{
    color: var(--HeadLine);
}
h2{
    color: var(--HeadLine);
}
h3{
    width: max-content;
    color: var(--HeadLine);
}
h4{
    color: var(--HeadLine);
}
p{
    color: var(--Paragraph);
}
.Major{
    margin: 0;
}
.Name{
    margin: 0;
}

.ExpDate{
    margin: 0;
    margin-left: 5px;
    width: max-content;
}
.ExpItems{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0%;
    gap: 1rem;
}
.ExpItems>*{
    text-align: center;
    flex-basis: 100%;
    max-width: 260px;
    gap: 1rem;
    flex-grow: 1;
    flex-shrink: 1;

}
.ExpSection{
    
    
    margin: 0;
    padding: 0;


}