:root{
    --BG: #004643;
    --HeadLine: #fffffe;
    --Paragraph: #abd1c6;
    --Button: #f9bc60;
    --Buttontxt: #001e1d;
}
body{
    margin: 0px;
    background-color: var(--BG);
}
h1{
    color: var(--HeadLine);
}
h2{
    color: var(--HeadLine);
}
h3{
    width: max-content;
    color: var(--HeadLine);
}
h4{
    color: var(--HeadLine);
}
p{
    color: var(--Paragraph);
}
header{
    background-color: var(--Buttontxt);
    margin:0;
}

.Major{
    margin: 0;
    padding-left: 4%;
    padding-bottom: 2%;
}
.Name{
    margin:0%;
    padding-top: 2%;
    padding-left: 1%;
}


.ExpTitle{
    margin: 0;
}
.ExpItems>.Item>*{
    margin: 0;
}
.ExpDate{
    margin: 0;
    margin-left: 2%;
    margin-bottom: 1%;
    width: max-content;
}
.ExpItems{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 5%;
    padding: 0%;
    gap: 1rem;
}
.ExpItems>*{
    text-align: center;
    flex-basis: 100%;
    max-width: 260px;
    gap: 1rem;
    flex-grow: 1;
    flex-shrink: 1;

}
.ExpSection{
    margin: 0;
    padding: 0;
}
input[type=submit]{
    background-color: var(--Button);
    color: var(--Buttontxt);
    margin: 0%;
    font-size: large;
    width: 100%;
    height: 100%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.ProjectGrid{
    display: grid;
    grid-template-columns:[l1] 33% [l2] auto [l3] 33% [l4];
    grid-template-rows: [r1] auto [r2] auto [r3];
}
