body{
    margin: 0;
    margin-top: 10px;
}
.Major{
    margin: 0;
}
.Name{
    margin: 0;
}
h3{
    width: max-content;
}
.ExpDate{
    margin: 0;
    margin-left: 5px;
    width: max-content;
}
.ExpItems{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0%;
    gap: 1rem;
}
.ExpItems>*{
    text-align: center;
    flex-basis: 100%;
    max-width: 260px;
    gap: 1rem;
    flex-grow: 1;
    flex-shrink: 1;

}
.ExpSection{
    
    
    margin: 0;
    padding: 0;


}